# Database
POSTGRES_USER=ecom_user
POSTGRES_PASSWORD=<change-me>
POSTGRES_DB=ecom_platform
DATABASE_URL=postgresql://ecom_user:<change-me>@postgres:5432/ecom_platform

# Auth
JWT_SECRET=<change-me>

# S3 (MinIO)
S3_BUCKET=csv-uploads
S3_ACCESS_KEY=<change-me>
S3_SECRET_KEY=<change-me>

# URLs (замени на свои домены)
WEB_ORIGIN=https://app.yourdomain.com
NEXT_PUBLIC_API_URL=https://api.yourdomain.com
NEXT_PUBLIC_CSV_API_URL=https://csv.yourdomain.com
